<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/shared.html :: head"></head>
<body>
    <header th:insert="fragments/shared.html :: header"></header>
    <h2 class="title">Add new doctor</h2>
    <div class="col-md-8" ng-controller="doctorsController">
        <form action="#">
            <div class="form-group">
                <label for="fullName">Full name</label>
                <input type="text" class="form-control" id="fullName" ng-model="doctor.id">
                <small ng-model="doctor.fullName"></small>
            </div>
            <div class="form-group">
                <label for="specialty"> Specialty</label>
                <input type="text" class="form-control" id="specialty" name="specialty">
                <small ng-model="doctor.specialty"></small>
            </div>
            <div class="form-group">
                <label for="schedule"> Schedule</label>
                <input type="text" class="form-control" id="schedule" name="schedule">
                <small ng-model="doctor.schedule"></small>
            </div>
            <br>
            <input ng-click="createDoctor(doctor)" type="submit" class="btn btn-primary" value="Add">
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>