<!DOCTYPE html>
<html ng-app="app" lang="en">
<head th:replace="fragments/shared.html :: head"></head>
<body ng-controller="doctorsController">
    <header th:insert="fragments/shared.html :: header"></header>
    <div>
        <a href="/doctors/new" class="btn btn-primary">Add a doctor</a>
    </div>
    <table ng-controller="doctorsController" class="table table-striped" ng-show="doctors.length > 0">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full name</th>
                <th scope="col">Specialty</th>
                <th scope="col">Schedule</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doctor in doctors" id="{{doctor.id}}">
                <td>{{doctor.id}}</td>
                <td>{{doctor.fullName}}</td>
                <td>{{doctor.specialty}}</td>
                <td>{{doctor.schedule}}</td>
                <td>
                    <a ng-click="delete(doctor.id)" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>